In [1]:
# wap to find Square of each number
a=[1,2,3,4,5]
a_square=[]
for i in a:
    a_square.append(i*i)

In [2]:
a_square

[1, 4, 9, 16, 25]

## List Comprehension

In [3]:
[i*i for i in a]

[1, 4, 9, 16, 25]

In [4]:
a

[1, 2, 3, 4, 5]

In [5]:
[ i**2 for i in a if i%2==0]

[4, 16]

In [6]:
name=['Leon','Ada','Krauser','Saddler']

In [8]:
[ names.replace('a','') for names in name ]

['Leon', 'Ad', 'Kruser', 'Sddler']

In [ ]:
[ names.replace('a','') for names in name ]

In [ ]:
# map(lambda expression,iterator)

In [13]:
res=map(lambda i : i**3,a)

In [11]:
list(res)

[1, 8, 27, 64, 125]

In [14]:
for i in res:
    print(i)

1
8
27
64
125

In [19]:
lists = ['$34.23/-','$67.34/-','$43.23/-','$54.99/-']

In [23]:
list(map(lambda i : i.strip('$/-'),lists))

['34.23', '67.34', '43.23', '54.99']

In [24]:
# for converting in float
list(map(lambda i : float(i.strip('$/-')),lists))

[34.23, 67.34, 43.23, 54.99]

## Filter

In [30]:
ages=[45,26,73,19,14,25,45,5,8]

In [32]:
list(filter(lambda age : age>20,ages))

[45, 26, 73, 25, 45]

In [2]:
name=[ 'Leon Kennedy', 'Ada Wong','Rebecca Chambers','Billy Coen']

In [7]:
for i in name:
    print(i)

Leon Kennedy
Ada Wong
Rebecca Chambers
Billy Coen

## HomeWork

In [1]:
name=['Leon Kennedy','Ada Wong','Claire Redfield','Jill Valentine']

In [3]:
[i.split() for i in name]

[['Leon', 'Kennedy'],
 ['Ada', 'Wong'],
 ['Claire', 'Redfield'],
 ['Jill', 'Valentine']]

In [2]:
list(map(lambda a:a.split(),name))

[['Leon', 'Kennedy'],
 ['Ada', 'Wong'],
 ['Claire', 'Redfield'],
 ['Jill', 'Valentine']]