# 1. clean all prices in [ '$34.24/-', '$82.41/-', '$94.99/-' ] and store in a list.
# 2. convert all the elements of above result list to float.
# 3. reverse all the words position in a string. ex . 'This is Sparta' gives 'Sparta is This'.

In [7]:
price=[ '$34.24/-', '$82.41/-', '$94.99/-' ]

In [8]:
price_copy=price

In [9]:
price_copy.copy()

['$34.24/-', '$82.41/-', '$94.99/-']

In [2]:
Text='My Name is Syed Faraz Ahmad'

In [3]:
Text[1:7]

'y Name'

In [4]:
text1=[2,23,45,66,5]

In [10]:
price_copy

['$34.24/-', '$82.41/-', '$94.99/-']

In [13]:
Text.split()

['My', 'Name', 'is', 'Syed', 'Faraz', 'Ahmad']

In [16]:
t1=(1,2,4,5)

In [17]:
type(t1)

tuple

In [3]:
prime_list=[]
for num in range(100,300 + 1):
   if num > 1:
       for i in range(2,num):
           if (num % i == 0):
               break
       else:
           prime_list.append(i)

In [5]:
print(prime_list)

[100, 102, 106, 108, 112, 126, 130, 136, 138, 148, 150, 156, 162, 166, 172, 178, 180, 190, 192, 196, 198, 210, 222, 226, 228, 232, 238, 240, 250, 256, 262, 268, 270, 276, 280, 282, 292]

In [39]:
sets={}

In [40]:
type(sets)

dict